.styleButtonsNav{ 
    text-decoration: none;
    color: inherit;
    font-size: 1rem;;
}
.styleButtonsNav:hover{ 
    color:rgb(226, 226, 226);
}
.styleButtonsNav:link{ 
    text-decoration: none;
}
.styleButtonsNav:visited{ 
    text-decoration: none;
}
