.styleButtonsNav{ 
    text-decoration: none;
    color: #4054B4;
    font-size: 1rem;;
}
.styleButtonsNav:hover{ 
    color:#6472BE;
}
.styleButtonsNav:link{ 
    text-decoration: none;
}
.styleButtonsNav:visited{ 
    text-decoration: none;
}

.iconNavBar{
    color: #3F51B5;
}