.iconCategory{
    color: #8acaef;
    float: left;
    font-size: 1.5em;
}

.itemCategory{
    cursor: pointer;
}

.itemCategory:hover{
    color: rgb(64, 150, 248);
}

a {
    text-decoration: none;
}

.buttonBack{
    background : #4054b4; 
    width : 40px; 
    height : 40px;
    margin-left : 30px; 
    border-radius : 100%;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);  
}