.iconCategory{
    color: #00a8f8;
    float: left;
    font-size: 1.5em;
}

.itemCategory{
    cursor: pointer;
}

.itemCategory:hover{
    color: rgb(64, 150, 248);
}

a {
    text-decoration: none;
}