footer {
    width: 100%;
    margin-top: 2em;
    text-align: center; 
    background: #4054b4;
    color: white;
    position: relative;
    margin-bottom: -20px;
    bottom: 0;
}

.iconFacebook:hover{
    color: #04144F;
}
.iconTwiter:hover{
    color: #1686C4;
}
.iconInstagram:hover{
    color: #D42C8B;
}
.iconYoutube:hover{
    color: #DE2624;
}
